---
layout: default
title: Oakland Pride Parade
---
<div class="container-fluid">
    <hr class="text-primary border-5">
    {% include welcome.html %}

    <div class="row row-cols-1 row-cols-md-2 mt-5 pt-3 justify-content-evenly">
        <div class="col order-md-2">
            <h2>Street Closures</h2>
            <p>We understand these closures may cause some inconvenience and we greatly appreciate your understanding and cooperation.</p>
            <h3>Parade Street Closure</h3>
            <p><strong>Sunday, September 8th, 8:00 AM - 1:00 PM</strong></p>
            <ul>
                <li>Clay St between 12th St and 16th St</li>
                <!-- <li>13th St and Broadway</li> is this a real street? -->
                <li>14th St between Jefferson St and Franklin St</li>
                <li>Telegraph between 16th St and 15th St</li>
                <li>15th St between Telegraph Ave and Franklin St</li>
                <li>17th St between Telegraph Ave and Franklin St</li>
                <li>19th St between Telegraph Ave and Broadway</li>
                <li>20th St between Telegraph Ave and Broadway</li>
                <li>21st St between Telegraph Ave and Broadway</li>
                <li>Broadway from 13th St to 22 St (Parade Route)</li>
            </ul>
            <h3>Festival Street Closure</h3>
            <p><strong>Saturday, September 7th, 6:00 PM - Sunday, September 8th, 11:59 PM</strong></p>
            <ul>
                <li>Franklin St between 17th St and 22nd St</li>
                <li>19th St between Broadway and Webster St</li>
                <li>20th St between Broadway and Harrison St</li>
                <li>21st St between Broadway and Webster St</li>
                <li>Webster St between 19th and 21 St</li>
            </ul>
            <p>Times are subject to change</p>
        </div>
        <div class="col order-md-1">
            <h2>Street Closure Map</h2>
            <figure class="figure">
                <img src="https://imagedelivery.net/MvzNvpp4M2t9qtNhV8DSHQ/b8fbc497-66dd-4f8b-6b4d-321e35a9b500/public" alt="" aria-hidden="true" class="img-fluid">
                <figcaption class="figure-caption text-end">Street Closure Map</figcaption>
            </figure>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col mx-2">
           {% include map.html%}
        </div>
    </div>

    <div class="row my-5">
        <div class="col mx-2">
            <h2>Festival Map (2023)</h2>
            <p class="text-muted">2024 map not yet available</p>
            <img src="/assets/images/festival-map.png" alt="" class="img-fluid">
        </div>
    </div>
</div>