<div class="container-fluid">
    <footer class="py-5">
        <hr>
        <div class="row justify-content-evenly align-items-baseline">
            <div class="col col-12 col-md-7">
                <p><strong>Oakland Pride</strong>&trade; is a trademark of the Oakland Pride nonprofit organization.</p>
                <p>This site is independently maintained by parade team volunteers and is not officially affiliated with, nor has it been officially endorsed by, the Oakland Pride nonprofit organization. This website is not authorized to represent or act on behalf of Oakland Pride.</p>
                <p>For official information about Oakland Pride, please visit <a href="https://oaklandpride.org">oaklandpride.org</a></p>
                <p>For assistance, please use the live chat feature on this page, or email us at <a href="mailto:parade@oaklandpride.org">parade@oaklandpride.org</a></p>
            </div>
            <div class="col text-center">
                <img class="w-50" src="https://imagedelivery.net/MvzNvpp4M2t9qtNhV8DSHQ/15e877d0-a0dc-47f4-1fab-7609aeb6cf00/public" alt="">
            </div>
            <div class="offset-md-4"></div>
        </div>
    </footer>
  </div>