<div class="row align-items-center justify-content-evenly g-2">
    <div class="col col-12 col-lg-8">
        <p class="lead"><b class="fw-bold">Oakland Pride</b>&trade; is a time for the LGBTQ+ community to come together and celebrate its diversity, strength, and resilience. 
            It is also a time to raise awareness of LGBTQ+ issues and to fight for equality.</p>
        <p>
            The parade is significant for the city of Oakland and the LGBTQ+ rights movement nationally. 
            It is a visible reminder of the presence and power of the LGBTQ+ community. 
            It is also a powerful symbol of hope and progress.
        </p>
        <p>
            By participating in the parade, you are making a statement about your support for the LGBTQ+ community. 
            You are also helping to create a more inclusive and accepting world.
        </p>
        <p>It will be a day to remember!</p>
    </div>
    <div class="col col-12 col-lg-3 bg-primary text-light rounded text-center p-2">
        <blockquote class="blockquote">
            <strong>This is the 10th annual <span class="text-nowrap">Oakland Pride Parade!</span></strong><br>
            The first was held in 2014, the year of Oakland Pride's 5th Celebration.
        </blockquote>
    </div>
</div>